{% extends 'base.html' %}
{% load static %}
  <head>
    {% block title %}
    <title>{{ title }}</title>
    {% endblock %}
  </head>
  <body>
    <header>
    </header>
    <main>
      {% block content %}
        <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">
        <h1>{% block text %}
          {{ post.text }}
          {% endblock%}</h1>
        <h2>{{ group.description }}</h2>
        <p>
          {{ group.title }}
        </p>

        <article>
          {% for post in posts %}
            <ul>
              <li>
                Автор: {{ post.author.get_full_name }}
              </li>
              <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
            </ul>
            <p>{{ post.text }}</p>
            {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
        </article>
        <!-- под последним постом нет линии -->
      </div>
      {% endblock %}
    </main>
    <footer>
    </footer>
  </body>
</html>